### Lending club case study

In [211]:
# Importing Packages: All required packages are imported.


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [212]:
# Importing Dataset
lccs_dataframe = pd.read_csv('loan.csv')

C:\Users\Unreal Arcadia\AppData\Local\Temp\ipykernel_7516\3036242004.py:2: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  lccs_dataframe = pd.read_csv('loan.csv')

#### Panda Configuration

In [213]:
 # to display all the columns
pd.set_option('display.max_columns', 111)
# to display all rows of df series
pd.set_option('display.max_rows',150) 
pd.options.display.float_format = '{:.4f}'.format

In [214]:
#Undestanding the shape and data types
print("Shape -> "+str(lccs_dataframe.shape))

Shape -> (39717, 111)

#### Data Cleaning

#### 1. Missing data

`Fininding Null value`

In [215]:
columns_nullcount = lccs_dataframe.isnull().sum()

## Making percentage of columns missing value

# funcion to get null value
def column_wise_null_percentage(df):
    output = round(df.isnull().sum()/len(df.index)*100,2)
    return output

In [216]:
#Columns with null count more then 25000 its found to be more data loss(missing)

colums_missing_percentage =  column_wise_null_percentage(lccs_dataframe)

col_with_50_per_missing =colums_missing_percentage[colums_missing_percentage>50]
print("Total Columns with 50% missing value", col_with_50_per_missing.size)
print(col_with_50_per_missing.head())
print(".....more")

Total Columns with 50% missing value 57
mths_since_last_delinq         64.6600
mths_since_last_record         92.9900
next_pymnt_d                   97.1300
mths_since_last_major_derog   100.0000
annual_inc_joint              100.0000
dtype: float64
.....more

In [217]:
#Droping 50% data missing columns with index
lccs_dataframe = lccs_dataframe.drop(col_with_50_per_missing.index,axis=1)
print("After deleting")
print("Shape -> "+str(lccs_dataframe.shape))

After deleting
Shape -> (39717, 54)

In [218]:
#For analysis considering only columns with less the 15% data loss (considering its a fare trade)

col_with_l15_per_missing =colums_missing_percentage[colums_missing_percentage<15]
print("Total Columns with less 15% missing value", col_with_l15_per_missing.size)
print(col_with_l15_per_missing.head())
print(".....more")

Total Columns with less 15% missing value 53
id                0.0000
member_id         0.0000
loan_amnt         0.0000
funded_amnt       0.0000
funded_amnt_inv   0.0000
dtype: float64
.....more

In [219]:
lccs_dataframe[col_with_l15_per_missing.index].describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
count,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39717.0000,39661.0000,39717.0000,39717.0000,39661.0000,39717.0000,39020.0000,39678.0000
mean,683131.9131,850463.5594,11219.4438,10947.7132,10397.4489,324.5619,68968.9264,13.3151,0.1465,0.8692,9.2944,0.0551,13382.5281,22.0888,51.2279,50.9898,12153.5965,11567.1491,9793.3488,2263.6632,1.3630,95.2216,12.4061,2678.8262,0.0000,1.0000,0.0000,0.0000,0.0000,0.0433,0.0000
std,210694.1329,265678.3074,7456.6707,7187.2387,7128.4504,208.8749,63793.7658,6.6786,0.4918,1.0702,4.4003,0.2372,15885.0166,11.4017,375.1728,373.8245,9042.0408,8942.6726,7065.5221,2608.1120,7.2900,688.7448,148.6716,4447.1360,0.0000,0.0000,0.0000,0.0000,0.0000,0.2043,0.0000
min,54734.0000,70699.0000,500.0000,500.0000,0.0000,15.6900,4000.0000,0.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000
25%,516221.0000,666780.0000,5500.0000,5400.0000,5000.0000,167.0200,40404.0000,8.1700,0.0000,0.0000,6.0000,0.0000,3703.0000,13.0000,0.0000,0.0000,5576.9300,5112.3100,4600.0000,662.1800,0.0000,0.0000,0.0000,218.6800,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000
50%,665665.0000,850812.0000,10000.0000,9600.0000,8975.0000,280.2200,59000.0000,13.4000,0.0000,1.0000,9.0000,0.0000,8850.0000,20.0000,0.0000,0.0000,9899.6403,9287.1500,8000.0000,1348.9100,0.0000,0.0000,0.0000,546.1400,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000
75%,837755.0000,1047339.0000,15000.0000,15000.0000,14400.0000,430.7800,82300.0000,18.6000,0.0000,1.0000,12.0000,0.0000,17058.0000,29.0000,0.0000,0.0000,16534.4330,15798.8100,13653.2600,2833.4000,0.0000,0.0000,0.0000,3293.1600,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000
max,1077501.0000,1314167.0000,35000.0000,35000.0000,35000.0000,1305.1900,6000000.0000,29.9900,11.0000,8.0000,44.0000,4.0000,149588.0000,90.0000,6311.4700,6307.3700,58563.6799,58563.6800,35000.0200,23563.6800,180.2000,29623.3500,7002.1900,36115.2000,0.0000,1.0000,0.0000,0.0000,0.0000,2.0000,0.0000

In [220]:
# identify unique values count

lccs_dataframe[col_with_l15_per_missing.index].nunique().sort_values(ascending=False)

id                            39717
member_id                     39717
url                           39717
total_pymnt                   37850
total_pymnt_inv               37518
total_rec_int                 35148
last_pymnt_amnt               34930
emp_title                     28820
revol_bal                     21711
title                         19615
installment                   15383
funded_amnt_inv                8205
total_rec_prncp                7976
annual_inc                     5318
recoveries                     4040
dti                            2868
collection_recovery_fee        2616
total_rec_late_fee             1356
out_prncp_inv                  1138
out_prncp                      1137
revol_util                     1089
funded_amnt                    1041
loan_amnt                       885
zip_code                        823
earliest_cr_line                526
int_rate                        371
last_credit_pull_d              106
last_pymnt_d                    101
total_acc                        82
issue_d                          55
addr_state                       50
open_acc                         40
sub_grade                        35
purpose                          14
delinq_2yrs                      11
emp_length                       11
inq_last_6mths                    9
grade                             7
pub_rec                           5
home_ownership                    5
loan_status                       3
verification_status               3
pub_rec_bankruptcies              3
term                              2
initial_list_status               1
pymnt_plan                        1
collections_12_mths_ex_med        1
policy_code                       1
application_type                  1
acc_now_delinq                    1
chargeoff_within_12_mths          1
delinq_amnt                       1
tax_liens                         1
dtype: int64

In [221]:
# Deleting ID column
lccs_dataframe = lccs_dataframe.drop(['id','member_id','url'],axis=1)

In [222]:
lccs_dataframe['int_rate'] = lccs_dataframe['int_rate'].apply(lambda ir : float(ir.replace('%','')))
## Applying for months
lccs_dataframe['term'] = lccs_dataframe['term'].apply(lambda ir : int(ir.replace(' months','')))

In [223]:
lccs_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 51 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   39717 non-null  int64
 1   funded_amnt                 39717 non-null  int64
 2   funded_amnt_inv             39717 non-null  float64
 3   term                        39717 non-null  int64
 4   int_rate                    39717 non-null  float64
 5   installment                 39717 non-null  float64
 6   grade                       39717 non-null  object
 7   sub_grade                   39717 non-null  object
 8   emp_title                   37258 non-null  object
 9   emp_length                  38642 non-null  object
 10  home_ownership              39717 non-null  object
 11  annual_inc                  39717 non-null  float64
 12  verification_status         39717 non-null  object
 13  issue_d                     39717 non-null  object
 14  loan_status                 39717 non-null  object
 15  pymnt_plan                  39717 non-null  object
 16  desc                        26777 non-null  object
 17  purpose                     39717 non-null  object
 18  title                       39706 non-null  object
 19  zip_code                    39717 non-null  object
 20  addr_state                  39717 non-null  object
 21  dti                         39717 non-null  float64
 22  delinq_2yrs                 39717 non-null  int64
 23  earliest_cr_line            39717 non-null  object
 24  inq_last_6mths              39717 non-null  int64
 25  open_acc                    39717 non-null  int64
 26  pub_rec                     39717 non-null  int64
 27  revol_bal                   39717 non-null  int64
 28  revol_util                  39667 non-null  object
 29  total_acc                   39717 non-null  int64
 30  initial_list_status         39717 non-null  object
 31  out_prncp                   39717 non-null  float64
 32  out_prncp_inv               39717 non-null  float64
 33  total_pymnt                 39717 non-null  float64
 34  total_pymnt_inv             39717 non-null  float64
 35  total_rec_prncp             39717 non-null  float64
 36  total_rec_int               39717 non-null  float64
 37  total_rec_late_fee          39717 non-null  float64
 38  recoveries                  39717 non-null  float64
 39  collection_recovery_fee     39717 non-null  float64
 40  last_pymnt_d                39646 non-null  object
 41  last_pymnt_amnt             39717 non-null  float64
 42  last_credit_pull_d          39715 non-null  object
 43  collections_12_mths_ex_med  39661 non-null  float64
 44  policy_code                 39717 non-null  int64
 45  application_type            39717 non-null  object
 46  acc_now_delinq              39717 non-null  int64
 47  chargeoff_within_12_mths    39661 non-null  float64
 48  delinq_amnt                 39717 non-null  int64
 49  pub_rec_bankruptcies        39020 non-null  float64
 50  tax_liens                   39678 non-null  float64
dtypes: float64(19), int64(12), object(20)
memory usage: 15.5+ MB

## Extracting diffrent data type

#### Univariate Analysis
This session focuses on analyzing variables one at a time, as the term “uni-variate” implies. Before analyzing numerous variables together, it’s critical to first analyze each one individually.

#### Continuous Variables
When dealing with continuous variables, it’s important to know the variable’s central tendency and spread. Statistical metrics visualization methods such as Box-plot, Histogram/Distribution Plot, Violin Plot, and others are used to measure these.

#### Categorical Variables
We’ll utilize a frequency table to study the distribution of categorical variables. Count and Count percent against each category are two metrics that can be used to assess it. As a visualization, a count-plot or a bar chart can be employed.

In [224]:
# make list of numerical variables
numeric_variables = [var for var in lccs_dataframe.columns if lccs_dataframe[var].dtypes != 'O']
print('Number of numerical variables: ', len(numeric_variables))

# visualise the numerical variables
lccs_dataframe[numeric_variables].head()


#  let's male a list of discrete variables
discrete_vars = [var for var in numeric_variables if len(
    lccs_dataframe[var].unique()) < 20]

print('Number of discrete variables: ', len(discrete_vars))

Number of numerical variables:  31
Number of discrete variables:  11

#### Finding Categorical variable

In [226]:
# capture categorical variables in a list
categorical_vars = [var for var in lccs_dataframe.columns if lccs_dataframe[var].dtypes == 'O']

print('Number of categorical variables: ', len(categorical_vars))
categorical_vars

Number of categorical variables:  20

['grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'earliest_cr_line',
 'revol_util',
 'initial_list_status',
 'last_pymnt_d',
 'last_credit_pull_d',
 'application_type']

#### Countineous variable

In [227]:
# make list of continuous variables
continuous_vars = [
    var for var in numeric_variables if var not in discrete_vars]
print('Number of continuous variables: ', len(continuous_vars))

Number of continuous variables:  20

In [228]:
continuous_vars

['loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'int_rate',
 'installment',
 'annual_inc',
 'dti',
 'open_acc',
 'revol_bal',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt']

In [229]:
#Finding Outliers

In [230]:
numeric_variables

['loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'collections_12_mths_ex_med',
 'policy_code',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'pub_rec_bankruptcies',
 'tax_liens']